<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="giska_setya.p">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".Beranda">
        </activity>
        <activity android:name=".Qr_code">
        </activity>
        <activity android:name=".Input_text">
        </activity>


    </application>


</manifest>
